/* Réinitialisation générale */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #d9b453;
}

/* Couleur de fond globale */
& {
    background-color: #090a08;
}

/* Styles pour les titres */
h1, h2 {
    color: #d9b453;
    text-align: center;
}

h1 {
    font-size: 50px;
}

h2 {
    margin: 25px 0;
    font-size: 40px;
}

/* Boutons */
button {
    margin-top: 10px;
    background-color: #eed471;
    border: none;
    color: #090a08;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
}

button:hover {
    background-color: #b4a156;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: translateY(2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Vidéos */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 2;
}

/* Ligne de séparation */
.break {
    height: 2px;
    background-color: #eed471;
    border: none;
}

/* Section avec des cadres */
.qualites-section {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cadre, .cadre-auto {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 230, 88, 0.2);
    color: #a39042;
    font-weight: bold;
    box-sizing: border-box;
    transition: border 0.05s ease;
}

.cadre {
    width: 200px;
    max-width: 300px;
    flex: 1 1 200px; 
}

.cadre-auto {
    width: 500px;
    max-width: 500px;
}

.cadre:hover, .cadre-auto:hover {
    border: 2px solid #eed471;
}

.cadre h3, .cadre-auto h3 {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.cadre-auto img {
    object-fit: cover;
}

/* Responsivité pour les cadres */
@media (max-width: 768px) {
    .cadre {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .cadre {
        width: 90%;
    }
}

/* Carousel */
.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 0 30px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    margin: 5px;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
    font-size: 1.5em;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #eed471;
    cursor: pointer;
    z-index: 10;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}